<h1>martinn6's API How-To Project</h1>
<h2>Steam's APIs</h2>

<p>
This page will be an introduction to some of Steam's API's that I find interesting. In this introduction, we 
will discuss how to implement the Steam's API and then show some API examples. It will end with combining two
APIs to form a webpage that will show you which games you own and if there are any current updates.
</p>

<h2>Steam's API Support Website</h2>
The main page for Steam's APIs can be found here: 
<a href="https://developer.valvesoftware.com/wiki/Steam_Web_API" target="_blank">
	https://developer.valvesoftware.com/wiki/Steam_Web_API
</a>

<h2>Contents:</h2>

<ul>
	<li>Setup - How to get the API setup</li>
	<li>API tutorials
		<ul>
			<li>GetOwnedGames</li>
			<li>GetNewsForApp</li>
		</ul>
	</li>
	<li>Final Tutorial - Updates For Your Owned Games</li>
</ul>


<h2>Setup - How to get the API setup</h2>
<h3>First Step - Creating API key</h3>
<div>
To use Steam's API, we need to first get an access key so our JavaScript can access it. Here are the steps needed to
create a Steam API key:
</div>
<div>
1) Goto: <a href="https://steamcommunity.com/login/home/?goto=%2Fdev%2Fapikey" target="_blank">
	https://steamcommunity.com/login/home/?goto=%2Fdev%2Fapikey
</a>
</div>
<div>
2) You will see a login screen. Login to your steam account or create a new steam user account
</div>
<img src="images\login.png" alt="Login Screen">
<div>
3) You will then have to enter in your domain name. I entered in the IP address of my server for an example. You
will have to agree to their terms and then click on 'Register'.
</div>
<img src="images\registerapi.png" alt="Register Server">
