<h1>martinn6's API How-To Project</h1>
<h2>Steam's APIs</h2>

<p>
This page will be an introduction to some of Steam's API's that I find interesting. In this introduction, we 
will discuss how to implement the Steam's API and then show some API examples. It will end with combining two
APIs to form a webpage that will show you which games you own and if there are any current updates.
</p>

The main page for Steam's APIs can be found here: 
<a href="https://developer.valvesoftware.com/wiki/Steam_Web_API" target="_blank">https://developer.valvesoftware.com/wiki/Steam_Web_API</a>

<h2>Contents:</h2>

<ul>
	<li>Setup - How to get the API setup</li>
	<li>API tutorials
		<ul>
			<li>GetOwnedGames</li>
			<li>GetNewsForApp</li>
		</ul>
	</li>
	<li>Final Tutorial - Updates For Your Owned Games</li>
</ul>

<img src="images\login.png" alt="Login Screen" 
