<h1>martinn6's API How-To Project</h1>
<h2>Steam's APIs<h2>

This page will be an introduction to some of Steam's API's that I find interesting. In this introduction, we 
will discuss how to implement the Steam's API and then show some API examples. It will end with combining two
APIs to form a webpage that will show you which games you own and if there are any current updates.

The main page for Steam's APIs can be found here: <a href="https://developer.valvesoftware.com/wiki/Steam_Web_API">https://developer.valvesoftware.com/wiki/Steam_Web_API</a>

This intro is divided into a couple sections. It wl

<li>
	<ul>Setup - How to get the API setup</ul>
	<ul>APIs
		<li>GetOwnedGames</ul>
		<li>GetNewsForApp</ul>
	</ul>
	<ul>Updates For Your Owned Games</ul>
</li>

<img src="\images\login.png" alt="Login Screen" 
