<h1>martinn6's Valve GetNewForApp API Example</h1>
<form method="post">
	<fieldset>
		<legend>Use my Valve info or user your own</legend>
		No key needed for this API!<BR>
		Valve AppId: <input type="text" name="valveAppID" id="valveAppID" value = "{{valveAppID}}"><BR>
		Max Count: <input type="text" name="maxCount" id="maxCount" value = "{{maxCount}}"><BR>
		<input type="submit" name="formSubmit" value="Submit">
	</fieldset>
</form>
<BR>
{{#if newsitems}}
<BR>
<h3>News:</h3>
	{{#each newsitems}}
	<h4>
		<SCRIPT>
			{{this.date}} * 1000;
			long unixSeconds = 1372339860;
			Date date = new Date(unixSeconds*1000L); // *1000 is to convert seconds to milliseconds
			SimpleDateFormat sdf = new SimpleDateFormat("yyyy-MM-dd HH:mm:ss z"); // the format of your date
			sdf.setTimeZone(TimeZone.getTimeZone("GMT-4")); // give a timezone reference for formating (see comment at the bottom
			String formattedDate = sdf.format(date);
			System.out.println(formattedDate);
		</SCRIPT>
	</h4>
	<div>{{{this.contents}}}</div><BR>
	{{/each}}
{{/if}}

