<h1>martinn6's Valve GetNewForApp API Example</h1>
<form method="post">
	<fieldset>
		<legend>Use my Valve info or user your own</legend>
		No key needed for this API!<BR>
		Valve AppId: <input type="text" name="valveAppID" id="valveAppID" value = "{{valveAppID}}"><BR>
		Max Count: <input type="text" name="maxCount" id="maxCount" value = "{{maxCount}}"><BR>
		<input type="submit" name="formSubmit" value="Submit">
	</fieldset>
</form>
<BR>
{{#if newsitems}}
<BR>
<h3>Newss:</h3>
	{{#each newsitems}}
	<div>{{this.contents}}</div>
	{{/each}}
{{/if}}

