<h1>martinn6's Valve GetOwnedGames API Example</h1>
<form method="get">
	<fieldset>
		<legend>Use my Valve info or user your own</legend>
		Your API Key: <input type="text" name="yourAPIKey" id="yourAPIKey" value="8B6421C0C4A593FB05AD15FA71752C28"
			size="42"><BR>
		Your Valve UserId: <input type="text" name="valveUserID" id="valveUserID" value="76561198031992079"><BR>
		<input type="checkbox" name="showGameInfo" id="showGameInfo" value="1" checked>Show Game Info<BR>
		<input type="submit" id="formSubmit" value="formSubmit">
	</fieldset>
</form>
<BR>
{{#if toDo}}
Number of Games: {{numberofgames}}<BR>
List of Games:<BR>
	{{#each toDo}}
	Name:{{this.name}}<BR>
	{{/each}}
{{/if}}

