<h1>martinn6's workout</h1>
Results: {{results}}
Insert: {{insert}}

<h3>CREATE A TASK</h3>
<form id="newworkout" action="/insert" method="GET">
  Name: <input type="text" name="name" id="name"><BR>
  reps: <input type="text" name="reps" id="reps"><BR>
  weight: <input type="text" name="weight" id="weight"><BR>
  date: <input type="text" name="date" id="date"><BR>
  lbs: 	<select name="lbs">
			<option value="1">lbs</option>
			<option value="0">kg</option>
		</select><BR>
		 <input type="submit" name="Add Item" value="Add Item">
</form> 
