<h1>martinn6's workout</h1>
<h2>Tasks</h2>
<style>

table {
    border-collapse: collapse;
}


table, td, tr, th {
    border: 1px solid black;
}


</style>
<h3>UPDATE A TASK</h3>
<form method="post">
  Name: <input type="text" name="name" id="name" value="{{name}}><BR>
  Reps: <input type="text" name="reps" id="reps" value=""><BR>
  Weight: <input type="text" name="weight" id="weight" value=""><BR>
  Date: <input type="text" name="date" id="date" value=""><BR>
  lbs: 	<select name="lbs">
			<option value="1">lbs</option>
			<option value="0">kg</option>
		</select><BR>
		 <input type="submit" name="UPDATE" value="UPDATE">
</form> 

