<h1>martinn6's workout</h1>
<h2>Tasks</h2>
List: {{wolist}}
<div>
{{#if wolist}}
	<TABLE>
		<TR>
			<TH>Name</TH>
			<TH>Reps</TH>
			<TH>Weight</TH>
			<TH>Date</TH>
			<TH>lbs</TH>
		</TR>
		{{#each wolist}}
		<TR>
			<TD>{{wolist.name}}</TD>
		</TR>
		{{/each}}
	</TABLE>
{{/if}}
</div>


<h3>CREATE A TASK</h3>
<form method="POST">
  Name: <input type="text" name="name" id="name"><BR>
  reps: <input type="text" name="reps" id="reps"><BR>
  weight: <input type="text" name="weight" id="weight"><BR>
  date: <input type="text" name="date" id="date"><BR>
  lbs: 	<select name="lbs">
			<option value="1">lbs</option>
			<option value="0">kg</option>
		</select><BR>
		 <input type="submit" name="Add Item" value="Add Item">
</form> 
